html{
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #7EB5D6 70%);
}

p{
    color: white;
    font-size: 1em;
    font-family: Arial Black, sans-serif, Verdana;
}

div{
    border-radius: 20px;
}

#top_header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, #644436 20%, #FFFFFF 50%, #8F6048 80%);
    border-radius: 0;
    margin-bottom: 10px;
}

#bottom_header{
    height: 100px;
    width: 1000px;
    background-color: #151B54;
	margin-bottom: 5px;
    margin-top: 105px;
    margin-right: 90px;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    float: right;
}

h1{
    color: #DFC184;
    text-align: right;
    font-size: 3em;
    font-family: Arial Black, sans-serif, Verdana;
}

.left {
    height: 430px;
	width: 150px;
	background-color: #DFC184;
	float: left;
	margin-bottom: 125px;
    position: fixed;
    margin-top: 50px;
    margin-left: 90px;
}

#top_of_left{
    height: 50px;
    width: 100px;
    float: left;
    background-color: #274257;
    margin-left: 25px;
}

#NAV{
    text-align: center;

    font-family: Arial Black, sans-serif, Verdana;
}

.NAV_links{
    font-size: 1.3em;
    text-align: center;
}

.right {
	height: 3000px;
	width: 1000px;
	background-color: #274257;
	float: right;
	margin-bottom: 10px;
    margin-right: 90px;
}

.inspirational{
    border: 2px solid black;
    font-size: 1.7em;
}

img{
    height: 200px;
    width: 180px;
}

#homepage{
    font-family: Arial Black, sans-serif, Verdana;
    color: #FFFFFF;
}

#footer{
    height: 100px;
    width: 1155px;
    background-color: #151B54;
    margin-top: 5px;
    margin-left: 90px;
    margin-right: 90px;
    clear: both;
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #644436 50%, #FFFFFF 100%);
}

h3{
    color: #DFC184;
}

.line{
    color: #7EB5D6;
}

a:hover{
    text-decoration: none;
    color: #7EB5D6;
    font-weight: bold;
    font-size: 1.2em;
}

a{
    color: white;
    font-weight: normal;
}