*{
    font-family: Verdana;
}

a{
    text-decoration: none;
}

#header1{
    height: 50px;
    width: 100%;
    background-color: #A65100;
    border: 1px solid black;
    margin: 0;
}

#header2{
    height: 80px;
    width: 100%;
    background-color: #FF7C00;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
}

#the_10{
    font-size: 3.4em;
    font-family: monospace;
    position: absolute;
}

#center{
    height: 130px;
    width: 300px;
    background-color: #EBF4FA;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border: 3px solid #000080;
    float: left;
    text-align: center;
    border-radius: 10px;
}

.hidden{
    display: none;
}

.hidden2{
    display: none;
}

#thenter{
    height: 130px;
    width: 300px;
    background-color: #EBF4FA;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5em;
    border: 3px solid #000080;
    float: right;
    text-align: center;
    border-radius: 10px;
}
#Home_links{
    border: 1px solid black;
}

#picMe{
    height: 200px;
    width: 200px;
    margin: auto;
    border: 2px solid black;
    margin-left: 220px;
    margin-top: 20px;
}

.center2{
    height: 2100px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    clear: both;
    background-color: #EBF4FA;
}

#center22{
    height: 900px;
}

.inspirational{
    border: 2px solid black;
    padding: 20px;
}

img{
    height: 230px;
    width: 200px;
    margin: 10px;
}

#footer{
    height: 130px;
    width: 100%;
    background-color: #A65100;
    clear: both;
    margin-bottom: 0;
}

a:hover{
    text-decoration: none;
    color: #7EB5D6;
    font-weight: bold;
    font-size: 1.2em;
}

a{
    color: white;
    font-weight: normal;
}

#coding_graph{
    height: 280px;
    width: 600px;
    background-color: white;
    border: 2px solid black;
}

#html{
    height: 30px;
    width: 450px;
    background-color: blue;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
}

#css{
    height: 30px;
    width: 475px;
    background-color: red;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
}

#javascript{
    height: 30px;
    width: 325px;
    background-color: green;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
}

#jqueary{
    height: 30px;
    width: 360px;
    background-color: orange;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
}

.java_stuff{
    height: 80px;
    width: 100px;
    border: 3px solid #000080;
    border-radius: 10px;
    text-align: center;
}

#java{
    height: 80px;
    margin-top: 50px;
}

#survey{
    float: left;
}

#trivia{
    float: left;
    margin-left: 320px;
}

#game{
    float: right;
}

#contact_me{
    margin-top: 50px;
}