body{
    background-color:#000000;
}
.div-border {
    height:100px;  
    border:12px solid #00ff00;
    background-color:#000000;
    

}
.divtwo{
        height:375px;
        width:135px;
        margin-top:15px;
        display:inline-block;
}
.content{
         display:inline-block;
         min-height:375px;
         width:65%;
         vertical-align:top;
         margin-top:15px;
         margin-right:0;
         border:none;
         background-color:transparent;
         padding-left:12px;
}
h2{
    color:#00ff00
}
h1{
    color:#00ff00;
    padding-left:50px;
}
p{
    color:#00ff00;
}

.img-sizing {
    width:55%;
    height:auto;
}
.pic{
    padding-right:10px;
    width:500px;
    height:500px;
    background-repeat:no-repeat;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
}
.hide {
    display:none;
}

.img-wrap {
    position:relative;
    height: 444px;
    width:auto;
    overflow:hidden;
}















