body{
    background-color:#000000;
}
div{
    height:100px;  
    border:12px solid #00ff00;
    background-color:#000000;
    

}
.divtwo{
        height:375px;
        width:135px;
        margin-top:15px;
        display:inline-block;
}
.content{
         display:inline-block;
         min-height:375px;
         width:65%;
         vertical-align:top;
         margin-top:15px;
         margin-right:0;
         border:none;
         background-color:transparent;
         padding-left:12px;
}
h2{
    color:#00ff00
}
h1{
    color:#00ff00;
}
p{
    color:#00ff00;
}

.img-sizing {
    width:55%;
    height:auto;
}
img{
    padding-right:10px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;
}
















