h1 {
 color:red;
 margin:auto;
 text-align:center;
}
h2 {
    color:blue;
    size:2em;
    font-family:Verdana;
    margin:auto;
    text-align:center;
    } 
table {
    border:2px #aa0000 dashed;
    margin:auto;
    text-align:center;
}
h3 {
    color:green;
    margin:auto;
    text-align:center;
}
h4 {
    color:yellow;
    margin:auto;
    text-align:center;
}

h5 {
    color:purple;
    margin:auto;
    text-align:center;
}
h6 {
    color:gray;
    margin:auto;
    text-align:center;
}
div {
 height:50px;
 width:120px;
 border:solid 2px #6495ed;
 background-color:#bcd2ee;
 border-radius:5px;
 margin:auto;
 text-align:center;
}
a{
     text-decoration:none;
}