
div {
    border:5px solid black;
    border-radius :5px;
  margin: 5px 1px 5px 1px;
  padding: 5px 5px 5px 5px;
  width:200px;
background-color:black;
}
body {
    background-image:url(http://us.cdn3.123rf.com/168nwm/thesupe87/thesupe871003/thesupe87100300033/6576673-a-realistic-carbon-fiber-background-that-tiles-seamlessly-as-a-pattern-in-any-direction.jpg); 
}
.nav {
    width :200px;
    border-color: black;
    position:fixed;
    float:left;
    background-color:gray;
}
.b {
    margin-left: 250px;
    width:275px;
}
a {
    text-decoration:none;
    color:white;
}
.c {
   
    margin-left: 5px;
    width:160px;
    background-color:white;
    border-color:white;
}
.a {
    color:white;
    width:175px;
    /*background-color:red;*/
    background-image:url(http://farm8.staticflickr.com/7164/6646240749_392635919e_z.jpg);
}