@{
    var name = "Lee Pepper";
}

<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Code Camp : @name</title>
  </head>
  <body>
  <h1> Nothing to see here now.
  </h1>
  
</body></html>
