:link {
    text-decoration:none;
    color:#008b45;
}
:hover {
    color:#00ff00;
}
:visited {
    color:#ee9a00;
}
.Life {
    border:2px dashed green;
}
div {
    border:10px dashed blue;
    float:left;
    height:100%;
    width:30%;    
}
#header {
    border:10px dashed blue;
    width:50%;
    position:center;
}