
#header{
    height: 100px;
    width: 1000px;
    background-color:#06F9E9;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-right: 90px;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    float: right;
}
h1{
    color:green;
    font-family:cursive;
}
#sidebar{
    height:600px;
    width:240px;
    background-color:#06F9E9;
    margin-bottom:10px;
    margin-top:5px;
    margin-right:5px;
    border-radius:10px;
    float:left;
}
#body{
    height:500px;
    width:1000px;
    background-color:#06F9E9;
    margin-bottom:10px;
    margin-top:5px;
    margin-right:5px;
    border-radius:10px;
    position:fixed;
    top:110px;
    left:254px;
}
#footer{
    height:50px;
    width:1000px;
    background-color:#06F9E9;
    clear:both;
}
body{
    background-color:black;
}
#picofme{
    position:fixed;
    top:170px;
    height:400px;
    width:500px;
    float:left;
}
#bodyp{
    Float:right;
    font-family:fancy;
}
#navilist{
    margin-bottom:10px;
    margin-top:10px;
    margin-left:20px;
    margin-right:40px;
    border-radius:30px;
}