:link {
    text-decoration:none;
    color:purple;
}
:hover {
    color:#00ff00;
}
:visited {
    color:green;
}
.Life {
    border:2px green;
}
#dunes {
    float:right;
    position:relative;
    width:60%;
    height:60%;
    top:10px;
}
p {
    float:right;
    Position:relative;
}
div {
    height: 50px;
	width: 100px;
	border: 2px solid black;
	border-radius: 5px;
	display:inline-block;
    margin:auto;
	
}

#one {
	background-color: #FF0000;
}

#two {
	background-color: #0000FF;
}
body {
    background-color:#DCDCDC;
}
img p {
    font-family:Garamond;
}
table {
    float:right;
    margin:20px;
}
body img {
    height:50px;
    width:50px;
    float:left;
}
#header{
    height: 100px;
    width: 1000px;
    background-color: #151B54;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-right: 90px;
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    float: right;
}
}
#body{
    float:auto;
    position:auto;
}