* { margin:0; padding:0;}
#FirstDiv {
    height: 100px;
    width: 100%;
    border: 4px solid orange;
    background-color: orange;
    padding-left: 55px;
    text-align: center;
}
#NAV  {
    float:left;
    height: 1050px;
    width: 5%;
    border: 4px solid orange;
    background-color: orange;
}
li {
    margin: 10px;
}
#Home   {
    vertical-align:top;
    color: green;
    font-family: Verdana;
    width: 100%;
    height: 50px;
    border-color: #CD853F;
   /* border-radius: 4px; */
    background-color: #CD853F;
    text-align: center;
}
#HomeLeft   {
    background-color: #CD853F;
    border-color: #CD853F;
    width: 10%;
    height: 1008px;
    float: left;
}
#CenterDiv  {
    float: left;
    width: 74.5%;
    height: 1008px;
    background-color: #C0C0C0;
    text-align: center;
    color: green;
}
#HomeRight  {
    background-color: #CD853F;
    border-color: #CD853F;
    width:10%;
    height: 1008px;
    float: right;
}