html, body {
    margin:0;
    padding:0;
}

.wrap{
    width: 100%;
    height:100%;
    position:absolute;
    border:5px solid green;
}
.wrap a {
    position:absolute;
    display:inline-block;
    text-decoration:none;
    
}

.up {
    right:50%;
    font-size:40px;
    /* Safari */
-webkit-transform: rotate(90deg);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);
}

.left {
    float:left;
    top:50%;
    font-size:40px;
}

.right {
    float:right;
    top:50%;
    right:0;
    font-size:40px;
}

.down {
    right:50%;
    bottom:0;
    font-size:40px;
    /* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);
}

.content-wrap {
    width:500px;
    height:500px;
    border:thin solid red;
    margin: auto;
}
















