/* some styling, I hope */
/* media queries */
/* will use the width property of the debugging div to help the jquery work*/

@media (max-aspect-ratio:4/5) {

#debugging {
    top:0;
    left:0;
    position:absolute;
    width:20px;
    height:25px;
    background-color:red;
    border-radius:15px;
}
#navbar {
    padding-left:5px;
}
#name {
    margin: 10px 0 10px 10px;
}
}
@media (min-aspect-ratio:5/4) {
    

#debugging {
    width:25px;
    height:20px;
    background-color:green;
    border-radius:15px;
}
}
/*16/9?*/


/*universal code*/
*{margin:0;
    padding:0;}
body {
    background-image:url('http://69.145.68.236:10200/amber.jpg');
    background-repeat:no-repeat;
    background-size:100% 100%; /*still debugging*/
    background-position: top left;
    margin: 0;
}
a {
	text-decoration: none;
	color: black;
}
/*popup info*/
#termblob {
    background-color:#797582;
    opacity:.9;
    display: none;
    position:fixed;
    z-index:3;
}
#contract {
    margin-left:100px;
    margin-top:100px;
    color:white;
}
#termsclose {
    background-color:#F2303A;
    border-radius:20px;
    position:fixed;
    top:11%;
    left:1050px;
    height:40px;
    width:60px;
    color:white;
}
/*top to bottom*/
#title {
	height: 100px;
	width:1200;
    display:none;
    background-color: #E1DFE8;
    opacity:.7;
    margin:0;
}
#name {
    text-align:center;
}
#slogan {
    margin:10px 0 10px 0;
    font-weight:normal;
    font-size:.5em;
    text-align:center;
}
/*nav stuff*/
#navbar {
	width:100%;
	height:40px;
	background-color:#797582;
    display:none;
    opacity:.5;
    margin:0;
}
.playnice {
	display: inline-block;
}
.navbutton {
	height: 30px;
	width: 100px;
	background-color:#73688F;
	border-radius: 10px;
	padding-top: 5px;
	padding-left: 5px;
}
/*carousel stuff*/

.container {
    width:1000%;
    height:400px;
    overflow:hidden;   
}
#carosel {
	margin-left:center/*200px*/;
    margin-top:center/*100px*/;
	width:600px;
	height:400px;
	background-color:#E8E6ED/*#565559*/;
	border-radius: 15px;
    overflow:hidden;
    position:relative;
    top: 50px;
    display:none;
}
#carousel_next {
    width:40px;
    height:100%;
    background-color:#E1DFE8;
    right:0;
    position:absolute;
}
#carousel_prev {
    width:40px;
    height:100%;
    background-color:#E1DFE8;
    left:0;
    position:absolute;
}
.slide{
    display:inline-block;
    width:450px;
    height:400px;
    padding: 0 75px 0 75px;
}
/*footer stuff*/
#footer {
    background-color:#797582;
    margin-top: 100px;
    width:100%;
    height:50px;
    display: none;
    opacity:.3;
    padding-top: 25px;
}
.red {
    background-color: #F2303A;
    border-radius:10px;
}
#termsopen {
    width: 40px;
    height: 20px;
}